
  @function calculateRem($size) {
    $remSize: $size / 16px;
    @return calc(#{$remSize}rem + 0vw);
  }
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

.navegacion-principal {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24
  }
  
  .font-mono {
    font-family: 'IBM Plex Mono', monospace;
  }
  
  .font-sans {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  section h1, h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    @include fontSize(36px);
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
  }

  .section-6 h2.white-section-title {
    line-height: 50px;
  }
  
  .primer-parrafo, .segundo-parrafo, .tercer-parrafo, .primer-parrafo-mobile {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    @include fontSize(14px);
    color: #060A24;  
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .conoce-mas-y-escucha-los-episodios {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    @include fontSize(16px);
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  }
  
  /*section h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
  }*/
  
  .blue-section-title {
    color: #060A24;
  }

  .pie-de-imagen {
    @include fontSize(24px);
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-weight: 600;
  }

  p.texto-footer {
    font-family: 'IBM Plex Mono';
    color: #060A24;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }



  
  
