.section-5 {
    .topics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .topic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p { 
                margin-top: 13px;
                margin-bottom: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 288px;
                height: 64px;
            }
            .pie-de-imagen-long {
                text-align: center;
            }
            .ultima-imagen {
                margin-bottom: 45px;
            }
        }
    }
    h2 {
        padding-left: 16px;
        margin-bottom: 37px;
    }
}