.section-5 {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    .topics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .topic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p { 
                margin-top: 5%;
                padding-bottom: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                /*width: 288px;
                height: 64px;*/
            }
            .pie-de-imagen-long {
                text-align: center;
            }
            .topic.ultimo-topic {
                padding-bottom: 0;
            }
            p.pie-de-imagen.ultima-imagen {
                padding-bottom: 0;
            }
        }
    }
    h2 {
        margin-bottom: 10%;
    }
}