.section-4 {
    display: flex;
    flex-direction: column;
    h2 {
        padding-left: 16px;
        margin-bottom: 14px;
    }
    .album-imagenes {
        display: flex;
        flex-direction: column;
        width: 100%;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    .last-image {
        margin-bottom: 48px;
    }
}